In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.compose import ColumnTransformer

In [4]:
df = pd.read_csv('final_dataset22.csv')
df

,Unnamed: 0.1,Unnamed: 0,datetime,open,high,low,close,volume,close_time,qav,...,NI,RICE,XAU,IRD,SUGAR,ETHANOL,CORN,COTTON,TIN,ZNC
0,71,71,1641017460000,47249.44,47281.68,47249.44,47271.88,10.37408,1641017519999,4.903711e+05,...,0.62547,14.632537,0.000547,4147.926037,0.189924,2.136423,5.928399,1.129187,1.222731,0.102048
1,72,72,1641017520000,47271.87,47290.00,47271.87,47289.97,4.11304,1641017579999,1.944688e+05,...,0.62547,14.632537,0.000547,4147.926037,0.189924,2.136423,5.928399,1.129187,1.222731,0.102048
2,73,73,1641017580000,47289.96,47320.00,47287.60,47300.72,13.45235,1641017639999,6.363889e+05,...,0.62547,14.632537,0.000547,4147.926037,0.189924,2.136423,5.928399,1.129187,1.222731,0.102048
3,74,74,1641017640000,47300.71,47324.42,47293.01,47307.04,6.17338,1641017699999,2.920746e+05,...,0.62547,14.632537,0.000547,4147.926037,0.189924,2.136423,5.928399,1.129187,1.222731,0.102048
4,75,75,1641017700000,47307.03,47307.04,47258.73,47259.14,4.41853,1641017759999,2.088964e+05,...,0.62547,14.632537,0.000547,4147.926037,0.189924,2.136423,5.928399,1.129187,1.222731,0.102048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525525,525596,525596,1672548960000,16521.42,16521.93,16516.49,16518.76,83.64312,1672549019999,1.381688e+06,...,29975.00000,18.000000,0.000548,4800.000000,0.200500,2.161000,6.785000,0.830000,19391.166190,3012.500000
525526,525597,525597,1672549020000,16518.76,16519.22,16517.03,16517.41,48.86392,1672549079999,8.071365e+05,...,29975.00000,18.000000,0.000548,4800.000000,0.200500,2.161000,6.785000,0.830000,19391.166190,3012.500000
525527,525598,525598,1672549080000,16517.39,16520.64,16517.28,16519.37,61.07865,1672549139999,1.008950e+06,...,29975.00000,18.000000,0.000548,4800.000000,0.200500,2.161000,6.785000,0.830000,19391.166190,3012.500000
525528,525599,525599,1672549140000,16519.37,16522.81,16511.92,16521.85,173.39683,1672549199999,2.864058e+06,...,29975.00000,18.000000,0.000548,4800.000000,0.200500,2.161000,6.785000,0.830000,19391.166190,3012.500000
525529,525600,525600,1672549200000,16522.22,16522.22,16520.09,16521.38,51.91564,1672549259999,8.576955e+05,...,29975.00000,18.000000,0.000548,4800.000000,0.200500,2.161000,6.785000,0.830000,19391.166190,3012.500000

In [7]:
df.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0'], inplace=True)

In [8]:
df.columns

Index(['datetime', 'open', 'high', 'low', 'close', 'volume', 'close_time',
       'qav', 'num_trades', 'taker_base_vol', 'taker_quote_vol', 'ignore',
       'ao', 'kama', 'ppo', 'pvo', 'roc', 'rsi', 'stochrsi', 'stoch', 'tsi',
       'uo', 'wri', 'accdist', 'cmf', 'emv', 'fi', 'mfi', 'nvi', 'obv',
       'smaemv', 'vpt', 'vwap', 'atr', 'ulcer', 'bbh', 'bbl', 'bbhi', 'bbli',
       'bbmavg', 'bb_pb', 'bb_wb', 'dchb', 'dclb', 'dcmb', 'dcpb', 'dcwb',
       'kchb', 'kclb', 'kchbi', 'kclbi', 'kcmb', 'kcpb', 'kcwb', 'adx',
       'adx_neg', 'adx_pos', 'aroon_up', 'aroon_down', 'cci', 'dpo', 'kst',
       'kst_sig', 'ema', 'ichimoku_a', 'ichimoku_b', 'ichimoku_base_line',
       'ichimoku_conversion_line', 'macd', 'macd_diff', 'macd_signal', 'mi',
       'sma', 'wma', 'stc', 'trix', 'psar_down_indicator', 'psar_up_indicator',
       'vi_pos', 'vi_neg', 'ALU', 'WHEAT', 'XCU', 'BRENTOIL', 'COFFEE',
       'SOYBEAN', 'NG', 'NI', 'RICE', 'XAU', 'IRD', 'SUGAR', 'ETHANOL', 'CORN',
       'COTTON', 'TIN', 'ZNC'],
      dtype='object')

In [10]:
#df['open'] = df['open'] / 100000
#df['high'] = df['high'] / 100000
#df['low'] = df['low'] / 100000
#df['close'] = df['close'] / 100000
#
#transformers = [
#    ('minmax', MinMaxScaler(), [col for col in df.columns if col not in ['open', 'high', 'low', 'close']]),
#]

In [12]:
transformers = [
    ('minmax', MinMaxScaler(), [col for col in df.columns]),
]

# Define a column transformer to apply the normalization transformers to the columns
ct = ColumnTransformer(transformers=transformers)

In [13]:
# Fit and transform the dataframe using the column transformer
df_normalized = ct.fit_transform(df)

# Convert the transformed data array back to a dataframe with the original column names
df_normalized = pd.DataFrame(df_normalized, columns=df.columns)

print(df_normalized)

        datetime      open      high       low     close    volume  \
0       0.000000  0.971980  0.972181  0.973331  0.972667  0.002269
1       0.000002  0.972667  0.972436  0.974019  0.973221  0.000862
2       0.000004  0.973221  0.973355  0.974500  0.973550  0.002961
3       0.000006  0.973550  0.973490  0.974666  0.973744  0.001325
4       0.000008  0.973743  0.972958  0.973616  0.972277  0.000930
...          ...       ...       ...       ...       ...       ...
525525  0.999992  0.030860  0.029942  0.031874  0.030778  0.018740
525526  0.999994  0.030778  0.029859  0.031890  0.030737  0.010922
525527  0.999996  0.030736  0.029902  0.031898  0.030797  0.013667
525528  0.999998  0.030797  0.029969  0.031734  0.030873  0.038916
525529  1.000000  0.030884  0.029951  0.031984  0.030858  0.011608

        close_time       qav  num_trades  taker_base_vol  ...            NI  \
0         0.000000  0.004920    0.004549        0.002435  ...  9.234211e-09
1         0.000002  0.001882    0.003680        0.000858  ...  9.234211e-09
2         0.000004  0.006420    0.005549        0.002379  ...  9.234211e-09
3         0.000006  0.002884    0.004737        0.001057  ...  9.234211e-09
4         0.000008  0.002030    0.004723        0.000566  ...  9.234211e-09
...            ...       ...         ...             ...  ...           ...
525525    0.999992  0.014073    0.035581        0.014684  ...  8.858756e-01
525526    0.999994  0.008173    0.024542        0.007481  ...  8.858756e-01
525527    0.999996  0.010246    0.032756        0.012771  ...  8.858756e-01
525528    0.999998  0.029296    0.057385        0.031400  ...  8.858756e-01
525529    1.000000  0.008693    0.027092        0.009750  ...  8.858756e-01

            RICE       XAU       IRD     SUGAR   ETHANOL      CORN    COTTON  \
0       0.045830  0.461976  0.732414  0.000790  0.000012  0.000389  0.481396
1       0.045830  0.461976  0.732414  0.000790  0.000012  0.000389  0.481396
2       0.045830  0.461976  0.732414  0.000790  0.000012  0.000389  0.481396
3       0.045830  0.461976  0.732414  0.000790  0.000012  0.000389  0.481396
4       0.045830  0.461976  0.732414  0.000790  0.000012  0.000389  0.481396
...          ...       ...       ...       ...       ...       ...       ...
525525  0.961914  0.468357  0.937192  0.001314  0.000388  0.001480  0.129412
525526  0.961914  0.468357  0.937192  0.001314  0.000388  0.001480  0.129412
525527  0.961914  0.468357  0.937192  0.001314  0.000388  0.001480  0.129412
525528  0.961914  0.468357  0.937192  0.001314  0.000388  0.001480  0.129412
525529  0.961914  0.468357  0.937192  0.001314  0.000388  0.001480  0.129412

                 TIN           ZNC
0       5.927071e-09  4.210685e-07
1       5.927071e-09  4.210685e-07
2       5.927071e-09  4.210685e-07
3       5.927071e-09  4.210685e-07
4       5.927071e-09  4.210685e-07
...              ...           ...
525525  4.951787e-01  6.673091e-01
525526  4.951787e-01  6.673091e-01
525527  4.951787e-01  6.673091e-01
525528  4.951787e-01  6.673091e-01
525529  4.951787e-01  6.673091e-01

[525530 rows x 97 columns]

In [15]:
df = df_normalized

In [16]:
df.to_csv('data_normalized.csv')